@using YouCan.Models.Account;
@model LoginViewModel

@{
    ViewBag.Title = "Delivery";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/landing.css">
    <link rel="stylesheet" href="~/css/auth.css">
    <title>Register</title>
</head>
<body>
<section class="section1">
    <div class="background" >
        <div class="stars"></div>
    </div>
    <div class="section1_container">
        <div class="auth-main">
            <a asp-controller="Home" asp-action="Index" class="back-button">
                <img src="~/authIcons/backArrow.png" alt="">
            </a>
            <div class="navContainer">
                <nav>
                    <a asp-controller="Home" asp-action="Index" class="linkLogo">
                        <img src="~/landingIcons/YouCanLogo.png" alt="logo">
                        <span class="textLogo">youcan</span>
                    </a>

                    <div class="language-switch">
                        <span>Рус</span>
                        <label class="switch">
                            <input type="checkbox">
                            <span class="slider"></span>
                        </label>
                        <span>Кыр</span>
                    </div>

                </nav>
            </div>
            <div class="authForm">
                <h1>Вход</h1>
                <form asp-action="Login" asp-controller="Account" asp-anti-forgery="true">
                    <div class="validation text-danger" asp-validation-summary="ModelOnly"></div>
                    
                    <div class="input-group">
                        <label for="email">
                            <span class="text-danger" asp-validation-for="LoginValue"></span>
                        </label>
                        <div class="phone-wrapper">
                            <input asp-for="LoginValue" type="text" class="form-control" placeholder="Номер телефона или Email" id="email">
                        </div>
                    </div>
                    <div class="input-group  password-wrapper">
                        <label for="pass">
                            <span class="text-danger" asp-validation-for="Password"></span>
                        </label>
                        <div class="password-wrapper">
                            <input asp-for="Password" type="password" class="form-control" placeholder="Пароль" id="pass" aria-describedby="button-addon1">
                            <span class="toggle-password">
                                <img src="~/authIcons/eyes-closed.png" alt="passwordEyesIcon" id="toggle-password-icon" width="32" height="32">
                            </span>
                        </div>
                    </div>
                    <a href="#" class="forgot-password">Забыли пароль?</a>
                    <button type="submit" class="loginBtn">ВОЙТИ</button>
                </form>
                <p class="terms">
                    Выполняя вход в аккаунт YouCan, вы соглашаетесь <br>
                    с нашими <a href="#">Условиями</a> и <a href="#">Политикой конфиденциальности</a>.
                </p>
            </div>

        </div>
    </div>
</section>


<script src="~/js/landing.js"></script>
<script src="~/js/auth.js"></script>
</body>
</html>


@section Scripts{
    <script>
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}