@{
    ViewBag.Title = "rating";
    Layout = "_NavBar";
}
<link rel="stylesheet" href="~/css/rating.css" asp-append-version="true" />
<div class="container">
    <div class="header">
        <div class="time-left">
            <img src="/ratingimages/timer.png" alt="time" width="24" height="24" />
            <span>123 дн. осталось</span>
        </div>
        <div class="score-info">
            <div class="coin">
                <img src="/ratingimages/coin-bal.png" alt="coin" width="24" height="24" />
                <span>1024</span>
            </div>
            <div class="fire">
                <img src="/ratingimages/fire.png" alt="fire" width="24" height="24" />
                <span>7</span>
            </div>
        </div>
    </div>
    <div class="league-header">
        <img src="/ratingimages/brone-liga.png" alt="Bronze" width="35" height="35" />
        <img src="/ratingimages/silver-liga.png" alt="Silver" width="75" height="75" />
        <img src="/ratingimages/gold-liga.png" alt="Gold" width="100" height="100" />
        <img src="/ratingimages/plat-liga.png" alt="Platinum" width="75" height="75" />
        <img src="/ratingimages/diamond-liga.png" alt="Platinum" width="35" height="35" />
    </div>
    <div class="league-title">Золотая лига</div>
    <div class="leaderboard">
        <div class="row">
            <div class="col-1 position">
                <img src="/ratingimages/first.png" alt="Medal" width="30" height="40" />
            </div>
            <div class="col-7 user-info">
                <img src="/ratingimages/Mask.png" alt="User" width="40" height="40" />
                <span>Илон Маск</span>
            </div>
            <div class="col-2 score">16485 очков</div>
        </div>
        <div class="row">
            <div class="col-1 position">
                <img src="/ratingimages/second.png" alt="Medal" width="30" height="40" />
            </div>
            <div class="col-7 user-info">
                <img src="/ratingimages/Mask.png" alt="User" width="40" height="40" />
                <span>Илон Маск</span>
            </div>
            <div class="col-2 score">16485 очков</div>
        </div>
        <div class="row">
            <div class="col-1 position">
                <img src="/ratingimages/third.png" alt="Medal" width="30" height="40" />
            </div>
            <div class="col-7 user-info">
                <img src="/ratingimages/Mask.png" alt="User" width="40" height="40" />
                <span>Илон Маск</span>
            </div>
            <div class="col-2 score">16485 очков</div>
        </div>
        <div class="row">
            <div class="col-1 position">4</div>
            <div class="col-7 user-info">
                <img src="/ratingimages/Mask.png" alt="User" width="40" height="40" />
                <span>Илон Маск</span>
            </div>
            <div class="col-2 score">16485 очков</div>
        </div>
        <div class="row">
            <div class="col-1 position">5</div>
            <div class="col-7 user-info">
                <img src="/ratingimages/Mask.png" alt="User" width="40" height="40" />
                <span>Я</span>
            </div>
            <div class="col-2 score">16485 очков</div>
        </div>
        <div class="row">
            <div class="col-1 position">5</div>
            <div class="col-7 user-info">
                <img src="/ratingimages/Mask.png" alt="User" width="40" height="40" />
                <span>Я</span>
            </div>
            <div class="col-2 score">16485 очков</div>
        </div>
        <div class="row">
            <div class="col-1 position">5</div>
            <div class="col-7 user-info">
                <img src="/ratingimages/Mask.png" alt="User" width="40" height="40" />
                <span>Я</span>
            </div>
            <div class="col-2 score">16485 очков</div>
        </div>
        <div class="row">
            <div class="col-1 position">5</div>
            <div class="col-7 user-info">
                <img src="/ratingimages/Mask.png" alt="User" width="40" height="40" />
                <span>Я</span>
            </div>
            <div class="col-2 score">16485 очков</div>
        </div>
        <div class="row">
            <div class="col-1 position">5</div>
            <div class="col-7 user-info">
                <img src="/ratingimages/Mask.png" alt="User" width="40" height="40" />
                <span>Я</span>
            </div>
            <div class="col-2 score">16485 очков</div>
        </div>
        <div class="row">
            <div class="col-1 position">5</div>
            <div class="col-7 user-info">
                <img src="/ratingimages/Mask.png" alt="User" width="40" height="40" />
                <span>Я</span>
            </div>
            <div class="col-2 score">16485 очков</div>
        </div>
        <div class="row">
            <div class="col-1 position">5</div>
            <div class="col-7 user-info">
                <img src="/ratingimages/Mask.png" alt="User" width="40" height="40" />
                <span>Я</span>
            </div>
            <div class="col-2 score">16485 очков</div>
        </div>
        <div class="row">
            <div class="col-1 position">5</div>
            <div class="col-7 user-info">
                <img src="/ratingimages/Mask.png" alt="User" width="40" height="40" />
                <span>Я</span>
            </div>
            <div class="col-2 score">16485 очков</div>
        </div>
        <div class="row">
            <div class="col-1 position">5</div>
            <div class="col-7 user-info">
                <img src="/ratingimages/Mask.png" alt="User" width="40" height="40" />
                <span>Я</span>
            </div>
            <div class="col-2 score">16485 очков</div>
        </div>
    </div>
    <div class="footer-button">
        <button class="floating-button">Где я?</button>
    </div>
</div>