@using YouCan.ViewModels.Account;
@model RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "_Layout";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/landing.css">
    <link rel="stylesheet" href="~/css/auth.css">
    <title>Register</title>
</head>
<body>
<section class="section1">
    <div class="background">
        <div class="stars"></div>
    </div>
    <div class="section1_container">
        <div class="auth-main">
           
            <div class="navContainer">
                <nav>
                    <a asp-controller="Home" asp-action="Index" class="linkLogo">
                        <img src="~/landingIcons/YouCanLogo.png" alt="logo">
                        <span class="textLogo">youcan</span>
                    </a>

                    <div class="language-switch">
                        <span>Рус</span>
                        <label class="switch">
                            <input type="checkbox">
                            <span class="slider"></span>
                        </label>
                        <span>Кыр</span>
                    </div>
                </nav>
            </div>
            <div class="underNavbarSection">
                <a class="backBtn back-button">
                    <img src="~/authIcons/backArrow.png" alt="">
                </a>
                <div class="progress-container">
                    <div class="progress-bar" id="progress-bar"></div>
                </div>
            </div>
           
            
            <div class="multi-step-form">
                <div id="page1" class="aboutUsRegister form-page active">
                    <div class="aboutUsRegister_content">
                        <h2>Посмотри видео и узнай, <br/>
                            как подготовиться вместе с Youcan!
                        </h2>
                        <a href="#">
                            <img src="~/authIcons/playVideo.png" alt="play video" width="200px" height="200px"/>
                        </a>
                        <button class="nextBtn">Дальше</button>
                    </div>
                    
                </div>
               
                <div id="page2" class="authForm  form-page" style="margin-top: 50px">
                    <h1>Регистрация</h1>
                    <form asp-action="Register" asp-controller="Account" asp-anti-forgery="true">
                        <div class="validation text-danger" asp-validation-summary="ModelOnly"></div>
                        <div class="input-group">
                            <label for="email">
                                <span class="text-danger" asp-validation-for="Email"></span>
                            </label>
                            <div class="phone-wrapper">
                                <input asp-for="Email" type="text" class="form-control" placeholder="Эл почта" id="email">
                            </div>
                        </div>
                        <div class="input-group">
                            <label for="lastName">
                                <span class="text-danger" asp-validation-for="LastName"></span>
                            </label>
                            <div class="phone-wrapper">
                                <input asp-for="LastName" type="text" class="form-control" placeholder="Фамилия" id="lastName">
                            </div>
                        </div>
                        <div class="input-group">
                            <label for="firstName">
                                <span class="text-danger" asp-validation-for="FirstName"></span>
                            </label>
                            <div class="phone-wrapper">
                                <input asp-for="FirstName" type="text" class="form-control" placeholder="Имя" id="firstName">
                            </div>
                        </div>
                        <div class="input-group">
                            <label for="userName">
                                <span class="text-danger" asp-validation-for="UserName"></span>
                            </label>
                            <div class="phone-wrapper">
                                <input asp-for="UserName" type="text" class="form-control" placeholder="Никнейм" id="userName">
                            </div>
                        </div>
                        <div class="input-group">
                            <label for="district">
                                <span class="text-danger" asp-validation-for="District"></span>
                            </label>
                            <div class="phone-wrapper">
                                <input asp-for="District" type="text" class="form-control" placeholder="Район" id="district">
                            </div>
                        </div>
                        <div class="input-group">
                            <label for="birthDate">
                                <span class="text-danger" asp-validation-for="BirthDate"></span>
                            </label>
                            <div class="phone-wrapper">
                                <input asp-for="BirthDate" type="date" class="form-control" placeholder="Дата рождения" id="birthDate">
                            </div>
                        </div>
                        <div class="input-group">
                            <label for="phone">
                                <span class="text-danger" asp-validation-for="PhoneNumber"></span>
                            </label>
                            <div class="phone-wrapper">
                                <input asp-for="PhoneNumber" type="text" class="form-control" placeholder="Номер телефона" id="phone">
                            </div>
                        </div>
                        <div class="mt-2">
                            <label for="file">Фото профиля</label>
                            <input id="file" type="file" name="uploadedFile" class="form-control">
                        </div>
                        <div class="input-group password-wrapper">
                            <label for="pass">
                                <span class="text-danger" asp-validation-for="Password"></span>
                            </label>
                            <div class="password-wrapper">
                                <input asp-for="Password" type="password" class="form-control" placeholder="Пароль" 
                                       id="pass" aria-describedby="button-addon1">
                                <span class="toggle-password">
                                    <img src="~/authIcons/eyes-closed.png" alt="passwordEyesIcon" id="toggle-password-icon" width="32" height="32">
                                </span>
                            </div>
                        </div>
                        <div class="input-group password-wrapper">
                            <label for="confPass">
                                <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                            </label>
                            <div class="password-wrapper">
                                <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Подтвердите пароль" 
                                       id="confPass" aria-describedby="button-addon2">
                                <span class="toggle-password2">
                                    <img src="~/authIcons/eyes-closed.png" alt="passwordEyesIcon" id="toggle-password-icon2" width="32" height="32">
                                </span>
                            </div>
                        </div>
                        <button type="submit" class="loginBtn">СОЗДАТЬ АККАУНТ</button>
                    </form>
                    <button class="nextBtn">NEXT</button>
                    <p class="terms">
                        Выполняя вход в аккаунт YouCan, вы соглашаетесь <br>
                        с нашими <a href="#">Условиями</a> и <a href="#">Политикой конфиденциальности</a>.
                    </p>
                </div>
                <div id="page3" class="aboutUsRegister form-page active">
                    <h2>
                        На номер +996702160703 был отправлен <br/>
                        4x значный код для подтверждения личности
                    </h2>
                    <div class="input-container">
                        <input type="text" maxlength="1" class="code-input">
                        <input type="text" maxlength="1" class="code-input">
                        <input type="text" maxlength="1" class="code-input">
                        <input type="text" maxlength="1" class="code-input">
                    </div>
                    <button class="confirm-button loginBtn">ПОДТВЕРДИТЬ</button>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/js/landing.js"></script>
<script src="~/js/auth.js"></script>

</body>
</html>

 @section Scripts{
     @{
         await Html.RenderPartialAsync("_ValidationScriptsPartial");
     }
     <script>
    document.addEventListener('DOMContentLoaded', function() {
        const pages = document.querySelectorAll('.form-page');
        const progressBar = document.querySelector('#progress-bar');
        const nextButtons = document.querySelectorAll('.nextBtn');
        const backButtons = document.querySelectorAll('.backBtn');
        let currentPage = 0;

        function updateProgressBar() {
            const progress = ((currentPage + 1) / pages.length) * 100;
            progressBar.style.width = progress + '%';
        }

        function showPage(pageIndex) {
            pages.forEach((page, index) => {
                page.style.display = index === pageIndex ? 'block' : 'none';
            });
            updateProgressBar();
        }

        nextButtons.forEach(button => {
            button.addEventListener('click', function() {
                if (currentPage < pages.length - 1) {
                    currentPage++;
                    showPage(currentPage);
                }
            });
        });

        backButtons.forEach(button => {
            button.addEventListener('click', function() {
                if (currentPage > 0) {
                    currentPage--;
                    showPage(currentPage);
                }
            });
        });

        showPage(currentPage);


        const inputs = document.querySelectorAll('.code-input');
        inputs.forEach((input, index) => {
            input.addEventListener('input', function() {
                if (input.value.length === 1 && index < inputs.length - 1) {
                    inputs[index + 1].focus();
                }
            });

            input.addEventListener('keydown', function(event) {
                if (event.key === 'Backspace' && index > 0 && input.value === '') {
                    inputs[index - 1].focus();
                }
            });
        });
    });
</script>
 }
