@{
    ViewBag.Title = "title";
    Layout = "_Navbar";
}
<nav class="navbar navbar-light bg-light border-bottom">
    <div class="container-fluid d-flex justify-content-between align-items-center">
        <a class="navbar-brand" href="#">
            <img src="/trainImages/logo.png" alt="Logo" />
        </a>
        <span class="navbar-text mx-auto text-center">Тренировка</span>
        <div style="width: 100px"></div>
    </div>
</nav>
<div class="container text-center my-3">
    <img src="/trainImages/Group 89.png" alt="Training" class="img-fluid mb-3" />
    <p class="mb-3">
        <strong>
            Здесь вы можете создать свои вопросы к ОРТ и поделиться ими, <br/>а также
            пройти тесты с вопросами, созданными другими пользователями.
        </strong>
    </p>
    <div class="row justify-content-center mb-4">
        <div class="col-md-5">
            <a style="text-decoration: none; color: inherit;">
            <div class="card mb-3">
                <div class="card-body d-flex align-items-center">
                    <img src="/trainImages/соз.png" alt="Take Test Image" class="img-fluid mr-3" />
                    <div>
                        <h5 class="card-title">Создать тест</h5>
                        <p class="card-text">Получай баллы за созданный вопрос. Делись своими знаниями!</p>
                    </div>
                </div>
            </div>
            </a>
            <a asp-controller="Subject" asp-action="Index" style="text-decoration: none; color: inherit;">
            <div class="card mb-3">
                <div class="card-body d-flex align-items-center">
                    <img src="/trainImages/пройти.png" alt="Take Test Image" class="img-fluid mr-3" />
                    <div>
                        <h5 class="card-title">Пройти тест</h5>
                        <p class="card-text">Хочешь потренироваться? Попробуй пройти этот тест и заработай баллы!</p>
                    </div>
                </div>
            </div>
            </a>
        </div>
    </div>
</div>