@{
    ViewBag.Title = "title";
    Layout = "_layout";
}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/landing.css">
    <title>YouCan</title>
</head>
<body>
<section class="section1">
    <div class="background">
        <div class="stars"></div>
        <div class="mountains"></div>
    </div>
    <div class="section1_container">
        <div class="navContainer">
            <nav>
                <a href="#" class="linkLogo">
                    <img src="~/landingIcons/YouCanLogo.png" alt="logo">
                    <span class="textLogo">youcan</span>
                </a>

              <div class="user-info dropdown">
                @if (User.Identity.IsAuthenticated)
                {
                <span class="dropdown-toggle fw-bold" role="button" data-bs-toggle="dropdown" aria-expanded="false">@User.Identity.Name</span>

                <ul class="dropdown-menu">
                  <li>
                    <a asp-action="Profile" asp-controller="Account" class="dropdown-item">Профиль - @User.Identity.Name</a>
                  </li>
                  <li>
                    <div class="language-switch">
                      <span style="color: #000">Рус</span>
                      <label class="switch">
                        <input type="checkbox" id="languageSwitch">
                        <span class="slider"></span>
                      </label>
                      <span style="color: #000">Кыр</span>
                    </div>
                  </li>
                  <li><hr class="dropdown-divider"></li>
                  <li>
                    <form class="d-flex justify-content-start dropdown-item" asp-action="LogOut" asp-controller="Account">
                      <button type="submit" class="border-0 bg-transparent ps-3 text-center d-block text-decoration-none link-theme-secondary">Выйти</button>
                    </form>
                  </li>
                </ul>
                }
                else
                {
                <div class="language-switch">
                  <span>Рус</span>
                  <label class="switch">
                    <input type="checkbox" id="languageSwitch">
                    <span class="slider"></span>
                  </label>
                  <span>Кыр</span>
                </div>
                }
              </div>

            </nav>
        </div>

        <div class="section1_content">
            <div class="section1_content_actions">
              <h1>Набери высокие <br>
                баллы на ОРТ <span>вместе <br>
                  с YouCan</span>
              </h1>
              @if (User.Identity.IsAuthenticated)
              {
                <a asp-action="Profile" asp-controller="Account" class="login"> Перейти к профилю</a>
              }
              else
              {
                <a asp-controller="Account" asp-action="Register" class="register">Регистрация</a>
                <a asp-controller="Account" asp-action="Login" class="login">У меня уже есть аккаунт</a>
              }
                
            </div>

            <div class="section1_content_img">
                <a href="#">
                    <img src="~/landingIcons/v1_2622.png" alt="Youcan trailer">
                </a>
                <p class="linkTrailer">Как подготовиться к ОРТ эффективно? <br>
                    <a href="#">Смотрите трейлер.</a>
                    <span></span>
                </p>
            </div>
        </div>

    </div>
</section>

<section class="section2">
    <div class="section2_subjects">
        <div class="math">
            <span></span>
            <p>Математика</p>
        </div>
        <div class="kyrgyz">
            <span></span>
            <p>Кыргызский</p>
        </div>
        <div class="russian">
            <span></span>
            <p>Русский</p>
        </div>
        <div class="chemistry">
            <span></span>
            <p>Химия</p>
        </div>
        <div class="biology">
            <span></span>
            <p>Биология</p>
        </div>
        <div class="history">
            <span></span>
            <p>История</p>
        </div>
        <div class="physics">
            <span></span>
            <p>Физика</p>
        </div>
        <div class="english">
            <span></span>
            <p>Английский</p>
        </div>
    </div>
</section>

<section class="section3">
    <div class="section3_topContent">
        <div class="section3_topContent_img">
            <img src="~/landingIcons/computer_man_right1.png" alt="computer_man_right1">
        </div>
        <div  class="section3_topContent_content">
            <h3>Онлайн ресурс №1 для подготовки к ОРТ</h3>
            <p>Обучайтесь с Youcan с удовольствием и увлечением.
                Получайте баллы за верные ответы, открывайте новые материалы и совершенствуйте навыки тестирования.
                Наши компактные занятия действительно действуют!
            </p>
        </div>

    </div>
    <hr>
    <div class="section3_bottomContent">
        <h3>Почему вам точно понравится Youcan?</h3>
        <div class="section3_bottomContent_row">
            <div class="section3_bottomContent_column">
                <div class="section3_card card1">
                    <h4>Комплексный подход</h4>
                    <p>Мы предлагаем полноценную программу подготовки, охватывающую все аспекты ОРТ!</p>
                    <span></span>
                </div>
                <div class="section3_card card2">
                    <h4>Индивидуальное обучение</h4>
                    <p>Вы можете учиться в нужном вам темпе и изучать доп. предметы которые важны для вашего будущего!</p>
                    <span></span>
                </div>
            </div>

            <img src="~/landingIcons/discipline-abstract-concept.png" alt="discipline-abstract-concept" class="section3_bottomContent_img">

            <div class="section3_bottomContent_column">
                <div class="section3_card card3">
                    <h4>Стимул к учёбе</h4>
                    <p>Благодаря нашему игровому формату, регулярные уроки становятся рутиной.
                        Веселые задания и приятные напоминания помогут вам привить привычку к обучению!</p>
                    <span></span>
                </div>
                <div class="section3_card card4">
                    <h4>Без воды</h4>
                    <p>Вы учите только то, что вам нужно, без ненужных деталей и лишней информации!</p>
                    <span></span>
                </div>
            </div>
        </div>

    </div>
    
    <div class="timeblock-bg benefits-bg-color my-3">
      <div class="container">
        <img
          class="time-img"
          src="~/landingIcons/bonbon-bills-wallet.png"
          alt="clock-image"
        />
        <p class="time-text">Цены ниже – качество выше!</p>
      </div>
    </div>
    
</section>

<div class="container desktop-cards">
      <div class="card card-first-last p-4 subscription-card">
        <div class="card-body d-flex flex-column">
          <img
            src="~/landingIcons/lending1.svg"
            class="img-fluid mb-3 mx-auto"
            alt="Subscription Image"
          />
          <p class="title-card-first-last">Старт</p>
          <p class="price-info-first-last">
            <strong>0 <span>С</span> /</strong> в месяц
          </p>
          <ul class="text-list-first-last">
            <li>
              <div class="checkbox-container">
                <div class="checkbox-icon"></div>
              </div>
              10 бесплатных уроков
            </li>
            <li>
              <div class="checkbox-container">
                <div class="checkbox-icon"></div>
              </div>
              Информация о ВУЗах
            </li>
            <li>
              <div class="checkbox-container">
                <div class="checkbox-icon"></div>
              </div>
              1 пробный тест ОРТ
            </li>
            <li>
              <div class="checkbox-container">
                <div class="checkbox-icon"></div>
              </div>
              Рейтинг пользователей
            </li>
          </ul>
          <a href="#" class="btn btn-first-last text-center mt-auto"
            >Ваш тариф</a
          >
        </div>
      </div>

      <div class="card card-middle p-4 subscription-card">
        <div class="card-body d-flex flex-column">
          <img
            src="~/landingIcons/lending1.svg"
            class="img-fluid mb-3 mx-auto"
            alt="Subscription Image"
          />
          <p class="title-card">Про</p>
          <p class="price-info">
            <strong>1200 <span>С</span> /</strong> в месяц
          </p>
          <ul class="text-list">
            <li>
              <div class="checkbox-container-middle">
                <div class="checkbox-icon-middle"></div>
              </div>
              Доступ ко всем урокам
            </li>
            <li>
              <div class="checkbox-container-middle">
                <div class="checkbox-icon-middle"></div>
              </div>
              Информация о ВУЗах
            </li>
            <li>
              <div class="checkbox-container-middle">
                <div class="checkbox-icon-middle"></div>
              </div>
              Все пробные тесты ОРТ
            </li>
            <li>
              <div class="checkbox-container-middle">
                <div class="checkbox-icon-middle"></div>
              </div>
              Рейтинг пользователей
            </li>
            <li>
              <div class="checkbox-container-middle">
                <div class="checkbox-icon-middle"></div>
              </div>
              Хранилище задач ОРТ
            </li>
          </ul>
          <a href="#" class="btn btn-select text-center mt-auto">Выбрать</a>
        </div>
      </div>

      <div class="card card-first-last p-4 subscription-card">
        <div class="card-body d-flex flex-column">
          <img
            src="~/landingIcons/lending1.svg"
            class="img-fluid mb-3 mx-auto"
            alt="Subscription Image"
          />
          <p class="title-card-first-last">Премиум</p>
          <p class="price-info-first-last">
            <strong>3000 <span>С</span> /</strong> на 3 месяца
          </p>
          <ul class="text-list-first-last">
            <li>
              <div class="checkbox-container">
                <div class="checkbox-icon"></div>
              </div>
              Скидка -15% на 3 месяца
            </li>
            <li>
              <div class="checkbox-container">
                <div class="checkbox-icon"></div>
              </div>
              Доступ ко всем урокам
            </li>
            <li>
              <div class="checkbox-container">
                <div class="checkbox-icon"></div>
              </div>
              Информация о ВУЗах
            </li>
            <li>
              <div class="checkbox-container">
                <div class="checkbox-icon"></div>
              </div>
              Все пробные тесты ОРТ
            </li>
            <li>
              <div class="checkbox-container">
                <div class="checkbox-icon"></div>
              </div>
              Рейтинг пользователей
            </li>
            <li>
              <div class="checkbox-container">
                <div class="checkbox-icon"></div>
              </div>
              Хранилище задач ОРТ
            </li>
          </ul>
          <a href="#" class="btn btn-first-last text-center mt-auto">Выбрать</a>
        </div>
      </div>
    </div>

<div class="container mobile-cards">
      <div>
        <div class="mobile-card-first_last" id="briefContent1">
          <div class="show">
            <p>Старт</p>
            <button
              class="btn btn-link text-white"
              data-bs-toggle="collapse"
              data-bs-target="#fullContent1"
              aria-expanded="false"
              aria-controls="fullContent1"
              id="toggleAboutBtn1"
            >
              Подробнее
              <img src="~/landingIcons/Vector_down.png" alt="Vector_down" />
            </button>
          </div>
          <strong class="price-info-first-last">0 <span>С</span></strong>
        </div>
        <div id="fullContent1" class="collapse mt-3">
          <div class="card card-first-last p-4 subscription-card">
            <div class="card-body d-flex flex-column">
              <img
                src="~/landingIcons/lending1.svg"
                class="img-fluid mb-3 mx-auto"
                alt="Subscription Image"
              />
              <p class="title-card-first-last">Старт</p>
              <p class="price-info-first-last">
                <strong>0 <span>С</span> /</strong> в месяц
              </p>
              <ul class="text-list-first-last">
                <li>
                  <div class="checkbox-container">
                    <div class="checkbox-icon"></div>
                  </div>
                  10 бесплатных уроков
                </li>
                <li>
                  <div class="checkbox-container">
                    <div class="checkbox-icon"></div>
                  </div>
                  Информация о ВУЗах
                </li>
                <li>
                  <div class="checkbox-container">
                    <div class="checkbox-icon"></div>
                  </div>
                  1 пробный тест ОРТ
                </li>
                <li>
                  <div class="checkbox-container">
                    <div class="checkbox-icon"></div>
                  </div>
                  Рейтинг пользователей
                </li>
              </ul>
              <a href="#" class="btn btn-first-last text-center mt-auto"
                >Ваш тариф</a
              >
              <button
                class="btn mt-3"
                data-bs-toggle="collapse"
                data-bs-target="#fullContent1"
                aria-expanded="true"
                aria-controls="fullContent1"
                id="closeFullContent1"
              >
                <img src="~/landingIcons/arrowhead-up-white.png" alt="arrowhead-up" />
              </button>
            </div>
          </div>
        </div>
      </div>

      <div>
        <div class="mobile-card-middle" id="briefContent2">
          <div class="show">
            <p>Про</p>
            <button
              class="btn btn-link"
              data-bs-toggle="collapse"
              data-bs-target="#fullContent2"
              aria-expanded="false"
              aria-controls="fullContent2"
              id="toggleAboutBtn2"
            >
              Подробнее
              <img src="~/landingIcons/VectorUpBlue.png" alt="Vector_down" />
            </button>
          </div>
          <strong class="price-info">1200 <span>С</span></strong>
        </div>

        <div id="fullContent2" class="collapse mt-3">
          <div class="card card-middle p-4 subscription-card">
            <div class="card-body d-flex flex-column">
              <img
                src="~/landingIcons/lending1.svg"
                class="img-fluid mb-3 mx-auto"
                alt="Subscription Image"
              />
              <p class="title-card">Про</p>
              <p class="price-info">
                <strong>1200 <span>С</span> /</strong> в месяц
              </p>
              <ul class="text-list">
                <li>
                  <div class="checkbox-container-middle">
                    <div class="checkbox-icon-middle"></div>
                  </div>
                  Доступ ко всем урокам
                </li>
                <li>
                  <div class="checkbox-container-middle">
                    <div class="checkbox-icon-middle"></div>
                  </div>
                  Информация о ВУЗах
                </li>
                <li>
                  <div class="checkbox-container-middle">
                    <div class="checkbox-icon-middle"></div>
                  </div>
                  Все пробные тесты ОРТ
                </li>
                <li>
                  <div class="checkbox-container-middle">
                    <div class="checkbox-icon-middle"></div>
                  </div>
                  Рейтинг пользователей
                </li>
                <li>
                  <div class="checkbox-container-middle">
                    <div class="checkbox-icon-middle"></div>
                  </div>
                  Хранилище задач ОРТ
                </li>
              </ul>
              <a href="#" class="btn btn-select text-center mt-auto">Выбрать</a>
              <button
                class="btn mt-3"
                data-bs-toggle="collapse"
                data-bs-target="#fullContent2"
                aria-expanded="true"
                aria-controls="fullContent2"
                id="closeFullContent2"
              >
                <img
                  src="~/landingIcons/arrowhead-up-blue.png"
                  alt="arrowhead-up-blue"
                />
              </button>
            </div>
          </div>
        </div>
      </div>

      <div>
        <div class="mobile-card-first_last" id="briefContent3">
          <div class="show">
            <p>Премиум</p>
            <button
              class="btn btn-link text-white"
              data-bs-toggle="collapse"
              data-bs-target="#fullContent3"
              aria-expanded="false"
              aria-controls="fullContent3"
              id="toggleAboutBtn3"
            >
              Подробнее
              <img src="~/landingIcons/Vector_down.png" alt="Vector_down" />
            </button>
          </div>
          <strong class="price-info-first-last">3000 <span>С</span></strong>
        </div>
        <div id="fullContent3" class="collapse mt-3">
          <div class="card card-first-last p-3 subscription-card">
            <div class="card-body d-flex flex-column">
              <img
                src="~/landingIcons/lending1.svg"
                class="img-fluid mb-3 mx-auto"
                alt="Subscription Image"
              />
              <p class="title-card-first-last">Премиум</p>
              <p class="price-info-first-last">
                <strong>3000 <span>С</span> /</strong> на 3 месяца
              </p>
              <ul class="text-list-first-last">
                <li>
                  <div class="checkbox-container">
                    <div class="checkbox-icon"></div>
                  </div>
                  Скидка -15% на 3 месяца
                </li>
                <li>
                  <div class="checkbox-container">
                    <div class="checkbox-icon"></div>
                  </div>
                  Доступ ко всем урокам
                </li>
                <li>
                  <div class="checkbox-container">
                    <div class="checkbox-icon"></div>
                  </div>
                  Информация о ВУЗах
                </li>
                <li>
                  <div class="checkbox-container">
                    <div class="checkbox-icon"></div>
                  </div>
                  Все пробные тесты ОРТ
                </li>
                <li>
                  <div class="checkbox-container">
                    <div class="checkbox-icon"></div>
                  </div>
                  Рейтинг пользователей
                </li>
                <li>
                  <div class="checkbox-container">
                    <div class="checkbox-icon"></div>
                  </div>
                  Хранилище задач ОРТ
                </li>
              </ul>
              <a href="#" class="btn btn-first-last text-center mt-auto"
                >Выбрать</a
              >
              <button
                class="btn"
                data-bs-toggle="collapse"
                data-bs-target="#fullContent3"
                aria-expanded="true"
                aria-controls="fullContent3"
                id="closeFullContent3"
              >
                <img src="~/landingIcons/arrowhead-up-white.png" alt="arrowhead-up" />
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <section class="last-lending">
          <div class="timeblock-bg timeblock-bg-color">
            <div class="container">
              <img
                class="time-img"
                src="~/landingIcons/24-hours1.png"
                alt="clock-image"
              />
              <p class="time-text">Можно учится всегда и везде!</p>
            </div>
          </div>
      
      <div class="container pre-footer-info-title-subtitle">
            <p class="pre-footer-info_texts_title-1">
              Заботимся о вас и вашем времени
            </p>
            <p class="pre-footer-info_texts_subtitle-1">
              У нас есть все, чтобы сделать вашу учебу более приятной и беззаботной
            </p>
          </div>
          <div class="pre-footer-info container">
            <div class="pre-footer-info_img">
              <img src="~/landingIcons/care-background1.png" alt="people-image" />
            </div>
            <div class="pre-footer-info_texts">
              <p class="pre-footer-info_texts_title">
                Заботимся о вас и вашем времени
              </p>
              <p class="pre-footer-info_texts_subtitle">
                У нас есть все, чтобы сделать вашу учебу более приятной и
                беззаботной
              </p>
              <div class="pre-footer-info_texts_blocks">
                <div class="pre-footer-info_texts_timeblock">
                  <img
                    class="timeblock_img"
                    src="~/landingIcons/icons8-alarm-clock-100.png"
                    alt="alarm-icon"
                  />
                  <div>
                    <p class="pre-footer-info_texts_timeblock_title">
                      Экономия времени
                    </p>
                    <p class="pre-footer-info_texts_timeblock_subtitle">
                      Теперь у вас есть время на друзей, любимые занятия и семью.
                      <br />Вы не тратите время и деньги на транспорт, ведь учится
                      можно везде.
                    </p>
                  </div>
                </div>
    
                <div class="pre-footer-info_texts_timeblock">
                  <img
                    class="timeblock_img"
                    src="~/landingIcons/icons8-multiple-devices-100.png"
                    alt="alarm-icon"
                  />
                  <div>
                    <p class="pre-footer-info_texts_timeblock_title">
                      Удобный интерфейс
                    </p>
                    <p class="pre-footer-info_texts_timeblock_subtitle">
                      Современный дизайн, созданный для удобства пользователей
                      сайта.
                      <br />Можно учится как на телефоне, так и на компьютере.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
       
          <div class="preparing_block">
            <p>Подготовься к ОРТ вместе с Youcan</p>
            <a class="btn" href="#">Начать сейчас</a>
          </div>
    
          <div class="footer-first_bg">
            <img src="~/landingIcons/Vector-footer.png" alt="vector" />
            <div class="footer-first_center_bg"></div>
          </div>
    
          <footer>
            <div class="container">
              <p class="footer-title">
                «Youcan!» — безопасный онлайн-сервис для подготовки к ОРТ
              </p>
              <div class="footer-info">
                <p class="footer-info_agreement">
                  Используя «Youcan!», вы принимаете
                  <a href="#">пользовательское соглашение</a>
                  и
                  <a href="#">политику обработки персональных данных</a>
                  <br />
                  Сайт работает по бишкекскому времени: 21 июня 2023 г. 21:48
                </p>
    
                <div class="footer-links_and_txt">
                  <div class="footer-socials-block">
                    <div class="footer-icons">
                      <a href="#" class="social-icon-inst">
                        <img
                          src="~/landingIcons/icons-instagram.png"
                          alt="Instagram Icon"
                        />
                      </a>
    
                      <a href="#" class="social-icon-tt">
                        <img src="~/landingIcons/icons-тикток.png" alt="TikTok Icon" />
                      </a>
                    </div>
    
                    <div class="footer-links">
                      <a href="#" class="social-link-youtube">
                        <img src="~/landingIcons/icons8-youtube.png" alt="YouTube Icon" />
                        <span>|</span>
                        <span>Трейлер о сайте</span>
                      </a>
    
                      <a href="#" class="social-link-telegram">
                        <img
                          src="~/landingIcons/icons8-телеграмм.png"
                          alt="Telegram Icon"
                        />
                        <span>| </span>
                        <span> Для сотрудничества</span>
                      </a>
                    </div>
                  </div>
    
                  <div class="footer-txts">
                    <a href="#">О проекте</a>
                    <a href="#">Об оплате</a>
                    <a href="#">Наша команда</a>
                    <a href="#">Помощь</a>
                    <a href="#">Контакты</a>
                  </div>
                </div>
              </div>
    
              <div class="footer-payinfo">
                <div class="footer-payment">
                  <p>Принимаем к оплате</p>
                  <a href="#">
                    <img src="~/landingIcons/icons8-виза.png" alt="Visa_icon" />
                  </a>
                  <a href="#">
                    <img src="~/landingIcons/icons8-вебмани.png" alt="Webmaney_icon" />
                  </a>
                  <a href="#">
                    <img
                      src="~/landingIcons/icons8-мастеркард.png"
                      alt="Mastercard_icon"
                    />
                  </a>
                  <a href="#">
                    <img src="~/landingIcons/Group_O.png" alt="ODengi_icon" />
                  </a>
                </div>
                <p>© 2023 Youcan!</p>
                <div class="footer-last-info">
                  <p>Мы используем</p>
                  <a href="#">Freepik,</a>
                  <a href="#">Icons8</a>
                </div>
              </div>
            </div>
          </footer>
        </section>



<script src="~/js/landing.js"></script>

</body>
</html>

  @section Scripts
  {
    <script>
      
    </script>
  }
  
