@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/landing.css">
    <title>YouCan ORT</title>
</head>
<body>
<section class="section1">
    <div class="background">
        <div class="stars"></div>
        <div class="mountains"></div>
    </div>
    <div class="section1_container">
        <div class="navContainer">
            <nav>
                <a href="#" class="linkLogo">
                    <img src="~/landingIcons/YouCanLogo.png" alt="logo">
                    <span class="textLogo">youcan</span>
                </a>

                <div class="language-switch">
                    <span>Рус</span>
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider"></span>
                    </label>
                    <span>Кыр</span>
                </div>

            </nav>
        </div>

        <div class="section1_content">
            <div class="section1_content_actions">
                <h1>Набери высокие <br>
                    баллы на ОРТ <span>вместе <br>
                        с YouCan</span>
                </h1>
                <a asp-controller="Account" asp-action="Register" class="register">Регистрация</a>
                <a asp-controller="Account" asp-action="Login" class="login">У меня уже есть аккаунт</a>
            </div>

            <div class="section1_content_img">
                <a href="#">
                    <img src="~/landingIcons/v1_2622.png" alt="Youcan trailer">
                </a>
                <p class="linkTrailer">Как подготовиться к ОРТ эффективно? <br>
                    <a href="#">Смотрите трейлер.</a>
                    <span></span>
                </p>
            </div>
        </div>

    </div>
</section>
<section class="section2">
    <div class="section2_subjects">
        <div class="math">
            <span></span>
            <p>Математика</p>
        </div>
        <div class="kyrgyz">
            <span></span>
            <p>Кыргызский</p>
        </div>
        <div class="russian">
            <span></span>
            <p>Русский</p>
        </div>
        <div class="chemistry">
            <span></span>
            <p>Химия</p>
        </div>
        <div class="biology">
            <span></span>
            <p>Биология</p>
        </div>
        <div class="history">
            <span></span>
            <p>История</p>
        </div>
        <div class="physics">
            <span></span>
            <p>Физика</p>
        </div>
        <div class="english">
            <span></span>
            <p>Английский</p>
        </div>
    </div>
</section>

<section class="section3">
    <div class="section3_topContent">
        <div class="section3_topContent_img">
            <img src="~/landingIcons/computer_man_right1.png" alt="computer_man_right1">
        </div>
        <div  class="section3_topContent_content">
            <h3>Онлайн ресурс №1 для подготовки к ОРТ</h3>
            <p>Обучайтесь с Youcan с удовольствием и увлечением.
                Получайте баллы за верные ответы, открывайте новые материалы и совершенствуйте навыки тестирования.
                Наши компактные занятия действительно действуют!
            </p>
        </div>

    </div>
    <hr>
    <div class="section3_bottomContent">
        <h3>Почему вам точно понравится Youcan?</h3>
        <div class="section3_bottomContent_row">
            <div class="section3_bottomContent_column">
                <div class="section3_card card1">
                    <h4>Комплексный подход</h4>
                    <p>Мы предлагаем полноценную программу подготовки, охватывающую все аспекты ОРТ!</p>
                    <span></span>
                </div>
                <div class="section3_card card2">
                    <h4>Индивидуальное обучение</h4>
                    <p>Вы можете учиться в нужном вам темпе и изучать доп. предметы которые важны для вашего будущего!</p>
                    <span></span>
                </div>
            </div>

            <img src="~/landingIcons/discipline-abstract-concept.png" alt="discipline-abstract-concept" class="section3_bottomContent_img">

            <div class="section3_bottomContent_column">
                <div class="section3_card card3">
                    <h4>Стимул к учёбе</h4>
                    <p>Благодаря нашему игровому формату, регулярные уроки становятся рутиной.
                        Веселые задания и приятные напоминания помогут вам привить привычку к обучению!</p>
                    <span></span>
                </div>
                <div class="section3_card card4">
                    <h4>Без воды</h4>
                    <p>Вы учите только то, что вам нужно, без ненужных деталей и лишней информации!</p>
                    <span></span>
                </div>
            </div>
        </div>

    </div>
    <div class="section3_benefits">
        <h2>Цены ниже – качество выше!
            <span></span>
        </h2>
    </div>
</section>



<script src="~/js/landing.js"></script>

</body>
</html>

