.section1{
    width: 100%;
    min-height: 100vh;
}
.auth-main {
    position: relative;
    z-index: 2;
    text-align: center;
    color: #fff;
    padding: 20px;
}
.auth-main .authForm{
    display: flex;
    flex-direction: column;
     margin-top: 200px; 
    gap: 20px;
}
.underNavbarSection{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}
.auth-main .back-button {
    display: flex;
    color: #fff;
    text-decoration: none;
    font-size: 24px;
}

.auth-main h1 {
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    line-height: 30px;
}

.auth-main form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.auth-main form .input-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    width: 80%;
}

.auth-main form label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #fff;
}

.auth-main form input {
    width: 380px;
    height: 60px;
    padding: 10px;
    border: 1.5px solid #9b9898;
    background-color: transparent;
    color: #fff;
    border-radius: 5px;
    font-size: 22px;
}
.auth-main form input:active {
    background: transparent;
    color: #fff;
}
.auth-main form input:focus {
    background: transparent;
    color: #fff;
}


.auth-main form input::placeholder {
    color: #fff; 
}

.auth-main form .password-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.auth-main form .password-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}


.auth-main form .toggle-password, .auth-main form .toggle-password2 {
    position: absolute;
    right: 15px;
    cursor: pointer;
}

.auth-main form .forgot-password {
    color: #6E86AD;
    margin-bottom: 20px;
    text-decoration: none;
    line-height: 14px;
    font-size: 18px;
}

.auth-main form .loginBtn {
    width: 420px;
    height: 60px;
    padding: 10px;
    background-color: #58CC02;
    border: none;
    border-radius: 30px;
    color: #fff;
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    margin-top: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-main form .loginBtn:hover {
    background-color: #50b105;
}

.auth-main .terms {
    margin-top: 20px;
    font-size: 16px;
    color: #5B7CB2;
    font-weight: 500;
    line-height: 22px;
}

.auth-main .terms a {
    color: #6E86AD;
    text-decoration: none;
    font-weight: 700;
}

.aboutUsRegister{
    margin-top: 150px;
    margin-bottom: 100px;
   
}
.aboutUsRegister_content{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 90px;
}
.aboutUsRegister h2{
    text-align: center;
    font-size: 45px;
    font-weight: 700;
}
.next-btn{
    width: 420px;
    height: 60px;
    padding: 10px;
    background-color: #58CC02;
    border: none;
    border-radius: 30px;
    color: #fff;
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    margin-top: 100px;
    cursor: pointer;
}
.next-btn:hover{
    background-color: #50b105;
}
.progress-container {
    width: 100%;
    background-color: #5B7CB2;
    border-radius: 10px;
    overflow: hidden;
}

.progress-bar {
    width: 0;
    height: 23px;
    background-color: #58CC02;
    text-align: center;
    line-height: 30px;
    border-radius: 10px 0 0 10px;
    transition: ease-in-out .4s;
}
.input-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.code-input {
    width: 80px;
    height: 80px;
    margin: 0 5px;
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    background: #5B7CB2;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
}
.loader {
    display: none;
    width: 20px; 
    height: 20px; 
}

@media not all and (min-resolution:.001dpcm) { @supports (-webkit-appearance:none) {
    .aboutUsRegister h2{ 
        line-height: 30px;
    }
}}

@media (max-width: 720px){
    .auth-main h1 {
        font-size: 40px;
        line-height: 27px;
    }
    .auth-main form input {
        width: 300px;
        height: 50px;
    }
    .auth-main form .loginBtn {
        width: 350px;
    }
    .back-button img{
        width: 35px;
        height: 30px;
    }
    .auth-main .back-button {
        left: 50px;
    }
}

@media (max-width: 576px){
    .auth-main .back-button {
        top: 140px;
    }
}
@media (max-width: 490px){
    .auth-main form input {
        width: 220px;
        font-size: 18px;
    }
    .auth-main form .loginBtn {
        width: 300px;
    }
    .auth-main form .forgot-password {
        line-height: 12px;
        font-size: 16px;
    }
    .auth-main .terms {
        font-size: 14px;
        line-height: 20px;
    }
}
@media (max-width: 425px){
    .auth-main .authForm {
        margin-top: 110px;
        gap: 10px;
    }
    .auth-main .back-button {
        left: 40px;
        top: 110px;
    }
}
@media (max-width: 375px){
    .section1_container {
        padding: 0;
    }
    nav{
        width: initial;
        gap: 8px;
    }
    .auth-main .back-button {
        left: 15px;
        top: 100px;
    }
    .auth-main .authForm {
        margin-top: 90px;
        gap: 10px;
    }
    .auth-main form {
        gap: 0;
    }
    .auth-main form .input-group {
        margin-bottom: 10px;
    }
    
}