
.fixed-answers-button{
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    z-index: 1000; 
    padding: 10px 20px;
}

.fixed-time-table{
    position: fixed;
    display: flex;
    top: 0;
    background-color: white;
    text-align: center;
    padding: 20px 0;
    justify-content: center;
    z-index: 1000; 
}

.ort-trial-block {
    margin: 0 auto;
    display: flex;
    align-items: center;
    position: relative;
}

.ort-trial-block img {
    width: 160px;
    height: 50px;
}

.ort-trial-block p {
    color: #00000059;
    font-size: 24px;
    font-weight: 700;
    line-height: 19.5px;
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.ort-trial-block-paddings {
    padding: 1rem 3rem;
}

.ort-trial-test_details-block_title {
    display: flex;
    align-items: center;
    position: relative;
}

.ort-trial-test_details-block_title p {
    margin-top: 5px;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

.ort-trial-test_details-block_text {
    font-weight: 500;
    line-height: 17.07px;
    text-align: center;
}

.ort-trial-test_details-block_btn {
    background-color: #58CC02;
    color: #ffffff;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 700;
    line-height: 24.38px;
    padding: 10px 93px;
}

.btn-finish {
    background-color: #FF5C00;
}

.ort-answers-btn {
    position: absolute;
    right: 18px;
    bottom: 14px;
}

.total-points {
    font-size: 2rem;
    font-weight: bold;
    background-color: #0a418f;
    color: #fff;
    border-radius: 8px;
}

.total-points-br {
    display: none;
}

@media screen and (max-width: 768px) {
    .fixed-answers-button{
        bottom: 80px;
    }

    .ort-trial-block img {
        width: 80px;
        height: 25px;
        position: absolute;
        left: 0;
    }

    .ort-trial-block p {
        font-size: 16px;
    }
}

@media (max-width: 554px){
    .ort-trial-test_details-block_title p {
        font-size: 16px;
    }

    .ort-trial-test_details-block_text {
        font-size: 14px;
        text-align: start;
    }
}

@media (max-width: 425px) {
    .total-points-br {
        display: block;
    }
}

@media screen and (max-width: 350px) {
    .ort-trial-test_details-block_title a img {
        width: 20px;
        height: 15px;
    }

    .ort-trial-test_details-block_title p {
        left: 54%;
    }
    
    .ort-trial-block-paddings {
        padding: 0.5rem 2rem;
    }
}
