html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
  margin-bottom: 60px;
}

#svg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#line{
  stroke-width:2px;
  stroke:rgb(0,0,0);
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: auto;
}

.levels {
  position: relative;
  z-index: 2;
  padding: 0 5%; /* Adjust padding as needed */
}
.level img {
  width: 100%;
  height: auto;
  max-width: 100%;
}