@import url('https://fonts.googleapis.com/css2?family=Coiny&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap');



.barlow-regular {
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.youcan {
    font-family: "Coiny", system-ui;
    font-weight: 400;
    font-size: 40px;
    line-height: 44px;
    margin-top: 61px;
    margin-left: 50px;
}

:root {
    --header-height: 3rem;
    --nav-width: 345px; /* Ширина открытой панели навигации */
    --collapsed-nav-width: 60px; /* Ширина свёрнутой панели */
    --transition-duration: 0.5s; /* Время перехода */
    --first-color: #4723D9;
    --first-color-light: #AFA5D9;
    --white-color: #F7F6FB;
    --body-font: 'Nunito', sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100;
}

*,
::before, ::after {
    box-sizing: border-box
}

body {
    position: relative;
    margin: var(--header-height) 0 0 0;
    padding: 0 1rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s;
    background-color: rgba(243, 242, 247, 1);
    transition: margin-left var(--transition-duration) ease; /* Плавное изменение отступа */
}

a {
    text-decoration: none
}

.header_toggle {
    color: var(--first-color);
    font-size: 1.5rem;
    cursor: pointer
}

#header-toggle {
    margin-left: 24px;
}

.header_img {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden
}

    .header_img img {
        width: 40px
    }

.l-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 345px;
    height: 100vh;
    padding: .5rem 1rem 0 0;
    transition: transform 0.5s ease;
    transform: translateX(0); /* Панель видима */
    z-index: 1;
    background-color: white;
    border: 1px black;
}

.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden
}

.nav_logo, .nav_link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: .5rem 0 .5rem 1.5rem
}

.nav_logo {
    margin-bottom: 2rem
}

.nav_logo-icon {
    font-size: 1.25rem;
    color: var(--white-color)
}

.nav_logo-name {
    color: #245AB4;
    font-weight: 700
}

.nav_link {
    color: black;
    margin-bottom: 1.5rem;
    transition: .3s;
    width: 250px;
}

    .nav_link:hover {
        color: #0078FF;
    }

.nav_icon {
    font-size: 1.25rem;
    width: 20px;
    height: 20px;
}

.show {
    left: 0
}

.l-navbar.show {
    transform: translateX(0);
}

.body-pd {
    padding-left: calc(var(--nav-width) + 1rem);
    transition: padding-left .5s;
}

.active {
    color: #0078FF
}

    .active::before {
        content: '';
        position: absolute;
        left: 0;
        width: 2px;
        height: 32px;
        background-color: #0078FF
    }

.height-100 {
    height: 100vh
}

@media screen and (min-width: 768px) {
    body {
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        padding-left: calc(var(--nav-width) + 2rem)
    }

    .header_img {
        width: 40px;
        height: 40px
    }

        .header_img img {
            width: 45px
        }

    .l-navbar {
        left: 0;
        padding: 1rem 1rem 0 0
    }

    .show {
        width: calc(90px + 156px)
    }

    .body-pd {
        padding-left: calc(var(--nav-width) + 1rem);
        transition: padding-left .5s;
    }
}


.nav_logo-name {
    font-family: Coiny;
    font-size: 40px;
    font-weight: 400;
    line-height: 44px;
    text-align: left;
    color: #245AB4;
    margin-top: 20px;
}

.nav_name {
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.6px;
    text-align: left;
    width: 170px;
    height: 28px;
    gap: 0px;
    opacity: 0px;
}

.first {
    margin-top: 50px;
}

.stat-icon {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 20px;
}

.btn-toggle-nav {
    background-color: #ddd;
    border: none;
    cursor: pointer;
    padding: 10px;
    margin: 10px;
}

.l-navbar.hide-navbar {
    transform: translateX(-100%); /* Перемещает панель за пределы экрана при скрытии */
}

.body-pd {
    padding-left: calc(var(--nav-width) + 1rem); /* Начальное значение при открытой панели навигации */
    transition: padding-left 0.5s ease; /* Плавное изменение отступа */
}

.body-pd-expanded {
    padding-left: 1rem; /* Отступ при скрытой панели навигации */
}

