@{
    Layout = "_Layout";
}
<nav class="navbar navbar-light border-bottom">
    <div class="container-fluid">
        <span class="navbar-text mx-auto">Тренировка</span>
    </div>
</nav>
<div class="container text-center my-3">
    <p class="mb-3">
        <strong>
            Отлично!<br />
            Давай создадим тест.<br />Выбери нужный раздел:
        </strong>
    </p>
    <div class="row justify-content-center">
        <div class="col-md-2">
            <a href="#" style="text-decoration: none;">
                <div class="card mb-3">
                    <div class="card-body">
                        <img src="/TestCreateAndTakePageImage/icons8-математика-100.png"
                             class="card-img-top"
                             alt="Математика 1" />
                        <h5 class="card-title mt-2">Математика 1</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-2">
            <a href="#" style="text-decoration: none;">
                <div class="card mb-3">
                    <div class="card-body">
                        <img src="/TestCreateAndTakePageImage/icons8-формула-fx-100 1.png"
                             class="card-img-top"
                             alt="Математика 2" />
                        <h5 class="card-title mt-2">Математика 2</h5>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-2">
            <a href="#" style="text-decoration: none;">
                <div class="card mb-3">
                    <div class="card-body">
                        <img src="/TestCreateAndTakePageImage/icons8-биология-100.png"
                             class="card-img-top"
                             alt="Аналогия" />
                        <h5 class="card-title mt-2">Аналогия</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-2">
            <a href="#" style="text-decoration: none;">
                <div class="card mb-3">
                    <div class="card-body">
                        <img src="/TestCreateAndTakePageImage/icons8-история-100.png"
                             class="card-img-top"
                             alt="Чтение и понимание"
                             height="138px" />
                        <h5 class="card-title mt-2">Чтение и понимание</h5>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-2">
            <a href="#" style="text-decoration: none;">
                <div class="card mb-3">
                    <div class="card-body">
                        <img src="/TestCreateAndTakePageImage/grammer.png"
                             class="card-img-top"
                             alt="Грамматика" />
                        <h5 class="card-title mt-2">Грамматика</h5>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
