@{
    Layout = "_Layout";
}
<style>
    .card-title {
        height: 40px;
    }
</style>
<nav class="navbar navbar-light border-bottom">
    <div class="container-fluid">
        <span class="navbar-text mx-auto">Тренировка</span>
    </div>
</nav>
<a class="navbar-brand" href="javascript:history.back()" style="margin-left: 30px; text-decoration: none; color: inherit;">
    <svg xmlns="http://www.w3.org/2000/svg"
         width="30"
         height="30"
         fill="currentColor"
         class="bi bi-arrow-left"
         viewBox="0 0 16 16">
        <path fill-rule="evenodd"
              d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8" />
    </svg>
</a>
<div class="container text-center my-3">
    <p class="mb-3">
        <strong>
            Отлично!<br />
            Давай проверим твои силы.<br />Выбери нужный раздел:
        </strong>
    </p>
    <div class="row justify-content-center">
        <div class="col-6 col-md-4 col-lg-2">
            <a href="#" style="text-decoration: none; color: inherit;">
                <div class="card">
                    <div class="card-body text-center mt-3 h-100">
                        <img src="/TestCreateAndTakePageImage/icons8-биология-100.png"
                             class="card-img-top"
                             alt="Аналогия" />
                        <h5 class="card-title mt-2">Аналогия</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-6 col-md-4 col-lg-2">
            <a href="#" style="text-decoration: none; color: inherit;">
                <div class="card">
                    <div class="card-body text-center mt-3 h-100">
                        <img src="/TestCreateAndTakePageImage/icons8-история-100.png"
                             class="card-img-top"
                             alt="Дополнение предложений"/>
                        <h5 class="card-title mt-2">Дополнение предложений</h5>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

